**/*.log
**/.DS_Store
*.
.vscode/settings.json
.history
.yarn
bazel-*
bazel-bin
bazel-out
bazel-qwik
bazel-testlogs
dist
dist-dev
lib
lib-types
etc
external
node_modules
temp
tsc-out
tsdoc-metadata.json
target
output
rollup.config.js
build
.cache
.vscode
.rollup.cache
dist
tsconfig.tsbuildinfo
vite.config.ts
*.spec.tsx
*.spec.ts
.netlify
pnpm-lock.yaml
package-lock.json
yarn.lock
server

src/App.tsx
src/useLatestVersion.ts
src/useMediaQuery.ts
src/common-chords/ChordSet.tsx
src/common-chords/Intro.tsx
src/common-chords/MajorKeyChords.tsx
src/common-chords/MinorKeyChords.tsx
src/common-chords/renderers.tsx
src/common-chords/SeventhTeaser.tsx
src/common-chords/useCommonChordsQuery.ts
src/pages/CommonChordsPage.tsx
src/pages/GuessKeyPage.tsx
src/pages/PianoPage.tsx
src/pages/SequencePage.tsx
src/ui/GuessKeyTable.tsx
src/ui/Keyboard/scale-degrees.tsx
src/ui/Keyboard/ScaleDegrees.tsx
src/ui/PianoShepardMode.tsx
src/ui/PianoSpeed.tsx
src/ui/Pie.tsx
src/ui/Preview.tsx
src/ui/Saver.tsx
src/ui/Sequencer/index.tsx
src/ui/SongChords.tsx
src/ui/SoundSelector.tsx
src/ui/Status.tsx
