body {
  width: auto;
  padding: 2rem 2rem 4rem;
}

.CC {
  margin: 0 auto;
  max-width: 900px;

  .h2 b {
    color: #337ab7;
    font-size: 1.1em;
    font-weight: inherit;
  }

  p {
    font-size: 17px;
    line-height: 1.5;
  }

  .key-switch {
    padding: 0;
  }

  .head-flex {
    align-items: center;
    display: flex;
    margin-bottom: 2rem;

    > :first-child {
      margin-right: 3rem;
    }
    > :last-child {
      margin-top: 1rem;
    }
  }

  .sep {
    color: #ccc;
    font-size: 0.5em;
    margin: 0 1rem;
  }

  .chord {
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    > a:link,
    > a:hover {
      text-decoration: none;

      > span:first-child {
        border-bottom: 2px solid #337ab7;
      }
    }

    > * {
      display: flex;
      flex-direction: column;
      align-items: center;

      > span + span {
        color: #777;
        font-size: 0.8em;
        margin-top: 0.75rem;
      }
    }

    .func,
    .note {
      margin-right: 0.05em;
    }
    .qual {
      font-size: 0.8em;
    }
    .bass {
      font-size: 0.8em;
    }
  }

  .tease7ths {
    background: #eee;
    margin: 4rem 0;
    padding: 2rem;
  }

  .roman {
    color: #666;
    font-family: monospace;
  }

  p + h2 {
    margin-top: 1.5em;
  }

  footer {
    border-top: 1px solid #ccc;
    margin-top: 4rem;
    padding: 2rem 0;
  }
}
