.Keyboard {
  margin: 0 auto;

  &.Keyboard--traditional {
    width: 1246px;
  }

  * {
    box-sizing: border-box;
  }
}

.piano {
  position: relative;
  background: #444;
  //border-bottom: 1px solid #ccc;
  //border-top: 1px solid #ccc;

  .Keyboard--scaleDegrees & {
    background: #fff;
    border: 1px solid #ccc;
    display: flex;
    margin-left: 0;
    overflow: hidden;
    width: calc(14 * 82px);

    > span {
      align-items: flex-end;
      display: flex;
      height: 100px;
      justify-content: center;
      padding-bottom: 3px;
      width: 50px;
    }

    .sm {
      font-size: 25px;
      font-weight: 300;
      pointer-events: none;
    }
    .lg {
      font-size: 50px;
      font-weight: 300;
      pointer-events: none;
    }
    i {
      font: 0.5em normal Georgia, serif;
      position: relative;
      top: -0.7em;
      pointer-events: none;
    }
    .in {
      color: #000;
    }
    .out {
      color: #999;
    }
  }

  [data-note] {
    text-align: center;
    text-decoration: none;
  }

  .black {
    position: absolute;
    top: 0;
    left: 0;

    > span {
      position: absolute;
      top: 0;
      border-radius: 0 0 5px 5px;
      cursor: pointer;
      font-weight: 300;
      line-height: 1;
      background: #000;
      border: 2px solid #000;
      height: 100px;
      padding-top: 58px;
      width: 16px;
    }
  }
  .white {
    z-index: 1;
    padding-left: 10px;
    display: flex;

    .Keyboard--scaleDegrees & {
      padding-left: 0;
    }

    > span {
      margin-left: 2px;
      border-radius: 2px 2px 5px 5px;
      flex-shrink: 0;
      font-weight: 300;
      line-height: 1;
      cursor: pointer;
      background: #eee;
      height: 160px;
      padding-top: 100px;
      width: 32px;
    }
  }

  .white,
  .black {
    > span.active {
      background: rgb(var(--bs-info-rgb));
    }

    //> span:hover {
    //  background: #74c674 !important;
    //  color: #fff !important;
    //}
  }

  &.noinput span {
    cursor: default;
  }
}
