.Keyboard {
  width: 1246px;
  margin: 0 auto;

  * {
    box-sizing: border-box;
  }
}

.piano {
  position: relative;
  background: #444;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;

  [data-note] {
    text-align: center;
    text-decoration: none;
  }

  .white {
    z-index: 1;
    padding-left: 10px;
    display: flex;

    span {
      margin-left: 2px;
      width: 32px;
      height: 160px;
      border-radius: 2px 2px 5px 5px;
      background: #fff;
      color: #000;
      font-weight: 700;
      padding-top: 120px;
      cursor: pointer;
    }
  }
  .black {
    position: absolute;
    top: 0;
    left: 0;

    span {
      position: absolute;
      top: 0;
      width: 16px;
      height: 100px;
      border: 2px solid #000;
      border-radius: 0 0 5px 5px;
      background: #000;
      color: #fff;
      padding-top: 58px;
      font-size: 10px;
      cursor: pointer;
    }
  }

  .white > span.active,
  .black > span.active {
    background: #74c674;
  }

  &.noinput span {
    cursor: default;
  }
}
