#root {
  margin: 0 auto;
  max-width: 1246px;
  padding: 20px;
}
body {
  margin: 0;
}
p {
  max-width: 700px;
}

.TemplateNav {
  display: flex;
  flex-wrap: wrap;

  > li {
    display: flex;
    flex-direction: column;
  }

  > li > a {
    flex: 1;
    padding: 10px;
  }

  @media (max-width: 829px) {
    background: #eee;

    > li > a {
      border-radius: 0;
    }
  }
  @media (min-width: 830px) {
    li:last-child {
      margin-left: auto;
    }
  }
}

.head-flex {
  margin: 0 auto 2rem;
  max-width: 900px;
  align-items: center;
  display: flex;

  > :first-child {
    margin-right: 3rem;
  }

  > :last-child {
    margin-top: 1rem;
  }
}

.Template-intro {
  margin: 0 auto;
  max-width: 900px;
}

h2.Title {
  font-style: italic;
  display: inline-block;
  cursor: pointer;
  margin: 0;
}
h2.Title button {
  background: inherit;
  border: 0;
  color: inherit;
  padding: 0;
}
h2.Title.untitled,
h1.Title.untitled span {
  color: #ccc;
}
h2.Title input {
  color: #000;
}
.title-ui {
  margin-right: 3rem;
}

section {
  margin: 20px auto;
}

#status {
  display: inline-block;
  text-align: right;
  font: 30px/44px monospace;
  font-style: italic;
  margin-right: 1rem;

  + .med-btn {
    margin-right: 0;
    width: 45px;
  }
}

.fakeReset {
  display: inline-block;
  width: 45px;
}

#status.recording i {
  animation: record-pulse 1s infinite;
}

@keyframes record-pulse {
  0% {
    color: #fff;
  }
  50% {
    color: #900;
  }
  100% {
    color: #fff;
  }
}

.progress-bar {
  transition: none;
}

#chord {
  width: 7em;
  font-size: inherit;
}

.urls td input {
  width: 100%;
  border: 0;
  background: transparent;
}

button .progress {
  display: inline-block;
  vertical-align: text-bottom;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
  position: relative;
  top: -1px;
}

#preview .progress {
  width: 1.8em;
  height: 1em;
}

#big-play .progress {
  width: 0.8em;
  height: 1em;
}

.piano-2col {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 0;
  min-width: 600px;

  > div {
    min-height: 6rem;
  }

  @media (min-width: 800px) {
    flex-direction: row;

    > div:first-child {
      flex: 1;
    }
  }
}

.med-btn {
  font-size: 1.5em;
  margin-right: 0.3em;
  vertical-align: baseline;
}

#big-play {
  vertical-align: baseline;
  font-size: 3rem;
  margin-right: 20px;
}

.GTK {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  table {
    max-width: 60rem;
  }

  .chord {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    vertical-align: bottom;
  }

  .BottomRightAd {
    float: none;
    margin: 0 2rem 2rem 4rem;
  }
}

.BottomRightAd {
  background: #eeeeee;
  display: flex;
  flex-direction: column;
  float: right;
  height: 43rem;
  margin: 4rem 0 2rem 2rem;
  max-width: 300px;
  width: 33%;
}

.BottomCenterAd {
  background: #eeeeee;
  display: flex;
  flex-direction: column;
  height: 15rem;
  margin: 2rem 0;
}

.HorizontalAd {
  background: #eeeeee;
  display: flex;
  flex-direction: column;
  height: 12rem;
  margin: 4rem 2rem;
}

