body {
  width: 1246px;
  margin: 20px auto;
}

h2.Title {
  font-style: italic;
  display: inline-block;
  cursor: pointer;
  margin: 0;
}
h2.Title button {
  background: inherit;
  border: 0;
  color: inherit;
  padding: 0;
}
h2.Title.untitled,
h1.Title.untitled span {
  color: #ccc;
}
h2.Title input {
  color: #000;
}
.title-ui {
  margin-right: 3rem;
}

section {
  margin: 20px auto;
}

#status {
  display: inline-block;
  text-align: right;
  font: 30px monospace;
  font-style: italic;
}

#status.recording i {
  animation: record-pulse 1s infinite;
}

@keyframes record-pulse {
  0% {
    color: #fff;
  }
  50% {
    color: #900;
  }
  100% {
    color: #fff;
  }
}

.progress-bar {
  transition: none;
}

#chord {
  width: 7em;
  font-size: inherit;
}

.urls td input {
  width: 100%;
  border: 0;
  background: transparent;
}

button .progress {
  display: inline-block;
  vertical-align: text-bottom;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
  position: relative;
  top: -1px;
}

#preview .progress {
  width: 1.8em;
  height: 1em;
}

#big-play .progress {
  width: 0.8em;
  height: 1em;
}

.piano-2col {
  display: flex;
  align-items: flex-end;
  min-height: 4.5em;
  margin-top: 10px;
}
.piano-2col > div:first-child {
  flex: 1;
}

.med-btn {
  font-size: 1.5em;
  margin-right: 0.3em;
  vertical-align: baseline;
}

#big-play {
  vertical-align: baseline;
  font-size: 3rem;
  margin-right: 20px;
}

.nav-tabs li:first-child {
  margin-left: 15px;
}
