#root {
  margin: 0 auto;
  max-width: 1246px;
  padding: 0 20px;
}

.max-width-900 {
  max-width: 900px;
}

h1 {
  color: var(--bs-info) !important;
}

hr {
  border-top: 20px solid var(--bs-info);
  opacity: 1;
}
.hr-thin {
  border-top-width: 1px;
}
.HrFinal {
  margin-top: 5rem;
  margin-bottom: 0;
}

.HeadingNav {
  background: var(--bs-secondary-bg);
  border-top: 20px solid var(--bs-info);
  margin: 0 -20px 2rem;

  @media (max-width: 700px) {
    margin: 0 -20px 2rem -20px;
  }

  a {
    padding: 0.5rem 1rem;
  }
  a[href*="common-chords"] {
    margin-right: auto;
  }
}

h2.Title {
  font-style: italic;
  display: inline-block;
  cursor: pointer;
  margin: 0;
}
h2.Title button {
  background: inherit;
  border: 0;
  color: inherit;
  padding: 0;
}
h2.Title.untitled,
h1.Title.untitled span {
  color: #ccc;
}
h2.Title input {
  color: #000;
}
.title-ui {
  margin-right: 3rem;
}

section {
  margin: 20px auto;
}

#status {
  display: inline-block;
  text-align: right;
  font: 30px/44px monospace;
  font-style: italic;
  margin-right: 1rem;

  + .med-btn {
    margin-right: 0;
    width: 45px;
  }
}

#status.recording i {
  animation: record-pulse 1s infinite;
}

@keyframes record-pulse {
  0% {
    color: #fff;
  }
  50% {
    color: #900;
  }
  100% {
    color: #fff;
  }
}

.progress-bar {
  transition: none;
}

#chord {
  width: 7em;
  font-size: inherit;
}

.urls td input {
  width: 100%;
  border: 0;
  background: transparent;
}

button .progress {
  background: var(--bs-btn-bg);
  display: inline-flex;
  font-size: inherit !important;
  border-radius: 0;
  box-shadow: none;
  position: relative;
  top: 2px;

  .progress-bar {
    background: #fff !important;
  }
}

#preview {
  width: 4.1em;
}

#preview .progress {
  width: 1.8em;
  height: 21px;
}

#big-play .progress {
  background: #fff;
  width: 0.8em;
  height: 21px;
}

.piano-2col .btn {
  margin-bottom: 10px;
}

.med-btn {
  font-size: 1.5em;
  margin-right: 0.3em;
  vertical-align: baseline;
}

#big-play {
  vertical-align: baseline;
  margin-right: 20px;
}

.GTK__results {
  min-height: 10rem;
  opacity: 0;
  transition: opacity 1.5s;
}
.GTK__results--populated {
  opacity: 1;
}

.GTK__pie_line {
  @media (min-width: 800px) {
    display: flex;

    > div {
      flex: 1;
    }
    > div:first-child {
      flex: 0 15rem;
    }
  }
}

.GTK__table {
  max-width: 60rem;

  @media (min-width: 56rem) {
    min-width: 54rem;
  }

  tr.success {
    background-color: var(--bs-success-border-subtle);
    color: var(--bs-success-text);
  }

  tr.text-muted {
    opacity: 0.7;
  }

  .chord {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    vertical-align: bottom;
  }
  .chord--sep {
    padding: 0 0.5rem;
  }
}

.GTK__table--single {
  min-width: unset;

  th {
    border: 0;
    text-align: right;
    width: 8rem;
    vertical-align: middle;
  }
  td {
    border: 0;
    padding-left: 1rem;
    vertical-align: middle;
  }
  tr:first-child,
  tr:last-child {
    border: 0;
  }
}

.GTK__functions {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
}

.GTK__actions {
  max-width: 700px;

  div {
    height: 7rem;
    float: right;
    text-align: right;
    width: 12rem;
  }

  .btn {
    margin-right: 0;
  }
}

.BottomRightAd {
  display: flex;
  flex-direction: column;
  float: right;
  height: 43rem;
  margin: 4rem 0 2rem 2rem;
  max-width: 300px;
  width: 33%;
}

.BottomCenterAd {
  display: flex;
  flex-direction: column;
  height: 15rem;
}

.HorizontalAd {
  display: flex;
  flex-direction: column;
  height: 12rem;
  margin: 4rem 2rem;
}

.sound-selectors {
  display: inline-block;
  position: relative;

  > span {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffffcc;
    font-size: 2rem;
  }
}